@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'jacksilver';
    font-style: normal;
    font-weight: normal;
    src: local('jacksilver'), url('../assets/fonts/jacksilver.ttf') format('truetype');
}

@font-face {
    font-family: 'product_sans';
    font-style: normal;
    font-weight: normal;
    src: local('product_sans'), url('../assets/fonts/product_sans.ttf') format('truetype');
}

html,
body {
    font-family: product_sans;
    background: #0b071d;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
}

.jacksilver-title {
    font-family: jacksilver;
}

.cover-container {
    max-width: 42em;
}
